body {
    min-width: 200px;
    max-width: 300px;
    padding: 10px;
    margin: 0;
    font-family: sans-serif;
  }

  button {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    padding: 8px 16px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  button:disabled {
    background-color: #ddd;
    color: #999;
    cursor: default;
  }
  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
  }

  hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #ccc;
  }